.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
}

img {
    display: block;
    margin: 0px auto 10px;
    max-height: 200px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    border-style: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}